DNSMASQ_DHCP_CONF_PATH=../dhcp-options.conf
DNSMASQ_SERVICE_NAME=dnsmasq
DNSMASQ_SYSTEMCTL_PATH=/bin/systemctl
DB_LOCATION=./db.db
UPDATE_NMCLI_PATH=/usr/local/bin/nmcli-wifi
UPDATE_RESCAN_WAIT_SECONDS=5
UPDATE_WIFI_ON_WAIT_SECONDS=5
DNSMASQ_LEASE_FILE=/mnt/data/dnsmasq.leases
SCAN_SUBNET=192.168.1.200,192.168.1.254,12h