<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Device</th>
            <th>IP Address</th>
            <th>MAC Address</th>
            <th class="actions-col">Actions</th>
        </tr>
    </thead>
    <tbody id="receivers-table-contents">
            {% if receivers %}
                {% for receiver in receivers %}
                    {% with mode='view' %}
                        {% include 'partials/receiver_row.html' %}
                    {% endwith %}
            {% endfor %}
        {% endif %}
    </tbody>
</table>