<td>
    <input type="text" 
           name="mac_address" 
           placeholder="{% if mode == 'new' %}MAC Address{% endif %}"
           value="{{ receiver.mac_address if receiver else (prefill_mac if prefill_mac is defined else (create_form.mac_address if create_form else '')) }}" 
           {% if mode == 'view' %}disabled{% endif %}
           form="{{ form_id }}" 
           required>
    {% if mode == 'new' and create_errors and create_errors.mac_address %}
        <p class="error">{{ create_errors.mac_address }}</p>
    {% elif mode == 'edit' and update_errors and receiver_id in update_errors %}
        <ul class="error-messages">
            {% for message in update_errors[receiver_id] if message %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</td>
